{
  "plugins": ["prettier-plugin-tailwindcss"],
  "semi": false,
  "arrowParens": "always",
  "printWidth": 100,
  "tabWidth": 2,
  "trailingComma": "es5",
  "bracketSpacing": false,
  "singleQuote": true,
  "jsxSingleQuote": true,
  "bracketSameLine": true,
  "tailwindConfig": "./tailwind.config.ts",
  "tailwindFunctions": ["clsx", "cn", "twMerge"],
  "importOrder": ["^@/.*$", "^[./]"],
  "importOrderSeparation": false,
  "importOrderSortSpecifiers": true,
  "importOrderParserPlugins": ["typescript", "jsx", "decorators-legacy"],
  "noEmptyLines": true,
  "htmlWhitespaceSensitivity": "ignore",
  "jsxBracketSameLine": true
}
