@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  @apply font-sans; /* Replace hardcoded Arial with Noto Sans */
}

/* Update typography styles */
h1,
h2 {
  @apply font-display;
}

h3,
h4,
h5,
h6 {
  @apply font-sans;
}

article,
p {
  @apply font-sans;
}

.gradient-animate {
  background-size: 200% auto;
  animation: shine 8s linear infinite;
}

@keyframes shine {
  to {
    background-position: 200% center;
  }
}
